.loginPage {
  background: url("https://employeems-server-production.up.railway.app/Images/employeems.jpeg");
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)),
    url("https://employeems-server-production.up.railway.app/Images/employeems.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginForm {
  background-color: rgba(1, 32, 93, 0.6);
  color: white;
  width: 90%;
}

@media (min-width: 720px) {
  .loginForm {
    width: 50%;
  }
}

@media (min-width: 720px) {
  .tableReceipts {
    width: 70%;
    margin: auto;
  }
}

@media (min-width: 720px) {
  .formEditEmployee {
    width: 70% !important;
    margin: auto;
  }
}

@media (min-width: 720px) {
  .containerHome {
    flex-wrap: nowrap !important;
  }
}

.emplTableDetail {
  font-size: 12px;
  white-space: nowrap;
  margin-top: 16px;
}

@media (min-width: 720px) {
  .emplTableDetail {
    font-size: 16px;
    margin: 0;
  }
}

.companyTable {
  font-size: 12px;
  white-space: nowrap;
  margin-top: 16px;
}

@media (min-width: 720px) {
  .companyTable {
    font-size: 16px;
    margin: 0;
  }
}

.categoryTable {
  font-size: 12px;
  white-space: nowrap;
  margin-top: 16px;
}

@media (min-width: 720px) {
  .categoryTable {
    font-size: 16px;
    margin: 0;
  }
}

.emplTable {
  font-size: 12px;
  white-space: nowrap;
}

@media (min-width: 720px) {
  .emplTable {
    font-size: 16px;
  }
}

.addEmpTable{
  width: 95%;
  font-size: 12px;
}

@media (min-width: 720px) {
  .addEmpTable {
    max-width: 75%;
    font-size: 16px;
  }
}

.addCompTable {
  width: 95%;
  font-size: 12px;
}

@media (min-width: 720px) {
  .addCompTable {
    max-width: 75%;
    font-size: 16px;
  }
}

.addCatTable {
  width: 95%;
  font-size: 12px;
}

@media (min-width: 720px) {
  .addCatTable {
    max-width: 75%;
    font-size: 16px;
  }
}


.sticky-thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

ul li :hover {
  background-color: gray;
}

.employee_image {
  max-width: 64px;
  max-height: 64px;
  border-radius: 25%;
}

.table-responsive {
  overflow-x: auto;
  max-width: 100%;
}

/*  .emp_det_image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}  */

/* .vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
} */
